<div class="row">
    <div class="large-12 columns">
        <h1>Bokningsdetaljer</h1>

        <div class="row">
            <div class="large-6 columns">
                {{booking.rentalObjectName}}</br>
                Från och med {{booking.fromDate | asDate | date:'yyyy-MM-dd' }}</br>
                Till och med {{booking.toDate | asDate | date:'yyyy-MM-dd' }}</br>
                Totalt: {{booking.totalPrice}} kr</br>
            </div>
            <div class="large-5 columns right">
                Ägare: {{booking.rentalObjectOwnerName}}</br>
                Tel: {{booking.phoneNumber}}</br>
                E-post: {{booking.email}}</br>
                Hämtas: Fri 12th December 2014</br>
                Lämnas: Sun 14th December 2014</br>
                Upphämtningstid: 11:00
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h2>Viktig information från Manskahahusvagn</h2>

                <p>Sed sollicitudin sollicitudin erat, rutrum bibendum nibh porttitor nec. Duis vel orci pulvinar felis
                    iaculis ornare in sed ipsum. Integer viverra at turpis vel lacinia. Duis vulputate magna a
                    condimentum volutpat. Nulla pellentesque purus faucibus, luctus sem id, vulputate diam. Vivamus eget
                    fermentum tellus. Nam vel nisl et eros auctor laoreet. Morbi mollis, nunc sed imperdiet varius,
                    ligula enim pharetra leo, nec commodo velit nulla ac sapien. Proin non massa aliquet, viverra odio
                    id, ultricies metus. Duis id elit erat. Nam viverra tortor non nulla volutpat lobortis.</p>
            </div>

            <div class="large-12 columns">
                <h2>Viktig information från uthyraren</h2>

                <p>Sed sollicitudin sollicitudin erat, rutrum bibendum nibh porttitor nec. Duis vel orci pulvinar felis
                    iaculis ornare in sed ipsum. Integer viverra at turpis vel lacinia. Duis vulputate magna a
                    condimentum volutpat. Nulla pellentesque purus faucibus, luctus sem id, vulputate diam. Vivamus eget
                    fermentum tellus. Nam vel nisl et eros auctor laoreet. Morbi mollis, nunc sed imperdiet varius,
                    ligula enim pharetra leo, nec commodo velit nulla ac sapien. Proin non massa aliquet, viverra odio
                    id, ultricies metus. Duis id elit erat. Nam viverra tortor non nulla volutpat lobortis.</p>
            </div>

            <div class="large-12 columns">
                <h2>Vägbeskrivning till uthyraren</h2>

                <p>Sed sollicitudin sollicitudin erat, rutrum bibendum nibh porttitor nec. Duis vel orci pulvinar felis
                    iaculis ornare in sed ipsum. Integer viverra at turpis vel lacinia. Duis vulputate magna a
                    condimentum volutpat. Nulla pellentesque purus faucibus, luctus sem id, vulputate diam. Vivamus eget
                    fermentum tellus. Nam vel nisl et eros auctor laoreet. Morbi mollis, nunc sed imperdiet varius,
                    ligula enim pharetra leo, nec commodo velit nulla ac sapien. Proin non massa aliquet, viverra odio
                    id, ultricies metus. Duis id elit erat. Nam viverra tortor non nulla volutpat lobortis.</p>
            </div>
        </div>
    </div>
</div>
