<div class="row">
    <div class="12-columns large">
        <h1>Mina uthyrningsobjekt</h1>
    </div>
</div>
<div class="row cursor-pointer" ng-click="navigateToRentalObject(rentalObject)" ng-repeat="rentalObject in rentalObjectCollection">
    <div class="column large-3">
        <p>{{rentalObject.name}}</p>
    </div>
    <div class="column large-3 end">
        <button type="button" ng-click="inactivateRentalObject(rentalObject)" stopeventpropagation class="alert tiny">Inaktivera
        </button>
    </div>
</div>