<div class="row">
    <div class="large-12 columns">
        <h1>Återställ ditt lösenord</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <form name="new_password_form" ng-model-options="{updateOn: 'blur'}">
            <label ng-class="{error: new_password_form.password.$invalid && new_password_form.password.$dirty}">Nytt lösenord
                <input name="password" passwordvalidation required type="password" ng-model="password.password"/>
            </label>
            <span ng-messages="new_password_form.password.$error" ng-if="new_password_form.password.$dirty">
                <small class="error" ng-message="required">Ange ett nytt lösenord.</small>
                <small class="error" ng-message="pattern">Otillåtna tecken. Försök igen.</small>
            </span>
            <button type="button" class="tiny" ng-click="createPassword()">
                Återställ
            </button>
        </form>
    </div>
</div>