<div class="row">
    <div class="large-12 columns">
        <p>{{rentalObject.name}}</p>

        <form ng-submit="createRentPeriod()">
            <!-- days, calendar month, year -->
            <input type="text" ng-model="rentPeriod.fromDate" placeholder="Från och med"/>
            <input type="text" ng-model="rentPeriod.toDate" placeholder="Till och med"/>

            <p>Pris {{rentPeriod.price}} kr</p>
            <button type="submit" class="success tiny">
                Hyr
            </button>
            <button type="button" class="tiny" ng-click="returnToRentalObjectList()">Avbryt</button>
        </form>
    </div>
</div>
