<div class="row">
    <div class="12-columns large">
        <h1>Uthyrningsobjekt</h1>
        <form ng-submit="searchRentalObject(rentalObjectFilter)">
            <div class="large-10 columns">

                <div class="row">
                    <div class="large-6 columns">
                        <input type="search" ng-model="rentalObjectFilter.query" name="query" placeholder="Fritext"/>
                    </div>
                    <div class="large-2 columns">
                        <input type="datetime" ng-model="rentalObjectFilter.fromDate" datepicker name="fromDate"
                               placeholder="Tillgänglig från"/>
                    </div>
                    <div class="large-2 columns left">
                        <input type="datetime" ng-model="rentalObjectFilter.toDate" datepicker name="toDate"
                               placeholder="Till och med"/>
                    </div>
                    <div class="large-1 columns left">
                        <button type="submit" class="tiny">Sök</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row cursor-pointer" ng-click="navigateToRentalObject(rentalObject)" ng-repeat="rentalObject in rentalObjectCollection">
    <div class="column large-2">
        <img style="width:50px; height:50px" ng-src="{{getThumbNailURL(rentalObject)}}">
    </div>
    <div class="column large-4">
        <p>{{rentalObject.name}}</p>
    </div>
    <div class="column large-2">
        {{rentalObject.pricePerDay}} kr/dag
    </div>
</div>

<p ng-hide="rentalObjectCollection.length">Hittade inga träffar. Prova att söka på något annat.</p>
