<div class="row">
    <div class="large-12 columns">
        <h1>Lägg till uthyrningsobjekt</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <form id="fileupload" action="http://jquery-file-upload.appspot.com/" method="POST"
              enctype="multipart/form-data" data-ng-app="Rentatool" data-ng-controller="RentalObjectPhotoController"
              data-file-upload="file.options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}"
              class="ng-scope ng-pristine ng-valid">
            <input type="file" name="files[]" ng-disabled="disabled">
        </form>
        <div ng-repeat="file in rentalObject.fileCollection">
            <img style="width:100px; height:100px"
                 src="Public/RentalObjectPhotos/{{file.id}}.JPG">
        </div>

        <form name="rental_object_form" ng-submit="createRentalObject()">
            <input id="rentalObject" ng-model="rentalObject.name" type="text" ng-placeholder="Namn" ng-focus/>
            <input type="text" ng-model="rentalObject.pricePerDay" placeholder="Ange pris per dag"/>
            <button type="button" class="tiny" ng-click="createRentalObject()"
                    ng-disabled="rental_object_form.$invalid">
                Spara uthyrningsobjekt
            </button>
            <button type="button" class="tiny" ng-click="returnToRentalObjectList()">Avbryt</button>
        </form>
    </div>
</div>