<div class="row">
    <div class="12-columns large">
        <h1>Uthyrningsobjekt
            <button type="button" class="tiny" ng-click="navigateToCreateNewRentalObject()">Skapa nytt
                uthyrningsobjekt
            </button>
        </h1>
        <form ng-submit="searchRentalObject(rentalObjectFilter)">
            <div class="large-10 columns">
                <input type="text" ng-model="rentalObjectFilter.query" name="query"/>
                <input type="datetime" ng-model="rentalObjectFilter.fromDate" datepicker name="fromDate"
                       placeholder="Tillgänglig från"/>
                <input type="datetime" ng-model="rentalObjectFilter.toDate" datepicker name="toDate"
                       placeholder="Till och med"/>
            </div>
            <div class="large-2 columns">
                <button type="submit" class="tiny">Sök</button>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-click="navigateToRentalObject(rentalObject)" ng-repeat="rentalObject in rentalObjectCollection">
    <div class="column large-2">
        <img style="width:50px; height:50px" ng-src="{{getThumbNailURL(rentalObject)}}">
    </div>
    <div class="column large-4">
        <p>{{rentalObject.name}}</p>
    </div>
    <div class="column large-2">
        {{rentalObject.pricePerDay}} kr/dag
    </div>
    <div class="column large-3 end">
        <button type="button" ng-click="inactivateRentalObject(rentalObject)" stopeventpropagation
                ng-show="rentalObject.userId === currentUser.id" class="alert tiny">Inaktivera
        </button>
    </div>
</div>

<p ng-hide="rentalObjectCollection.length">Hittade inga träffar. Prova att söka på något annat.</p>
