<div class="row">
    <div class="large-12 columns">
        <h1>Lägg till uthyrningsobjekt</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <form id="fileupload" action="http://jquery-file-upload.appspot.com/" method="POST"
              enctype="multipart/form-data" data-ng-app="Rentatool" data-ng-controller="RentalObjectPhotoController"
              data-file-upload="file.options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}"
              class="ng-scope ng-pristine ng-valid">
            <input type="file" name="files[]" ng-disabled="disabled">
        </form>
        <div ng-repeat="file in rentalObject.fileCollection">
            <img style="width:100px; height:100px"
                 ng-src="Public/RentalObjectPhotos/{{file.id}}.{{file.fileExtension}}">
        </div>
        <form name="rental_object_form" ng-submit="createRentalObject()">
            <input textvalidation type="text" name="name" ng-model="rentalObject.name" ng-maxlength="30" required ng-placeholder="Namn" ng-focus/>
            <input min="0" max="1000000" type="number" ng-model="rentalObject.pricePerDay" placeholder="Ange pris per dag"/>
            <textarea textvalidation ng-maxlength="3000" ng-model="rentalObject.description" placeholder="Ange en beskrivning av objektet."></textarea>
            <button type="button" class="tiny" ng-click="createRentalObject()"
                    ng-disabled="rental_object_form.$invalid">
                Spara uthyrningsobjekt
            </button>
            <button type="button" class="tiny" ng-click="navigateToRentalObjectList()">Avbryt</button>
        </form>
    </div>
</div>