<div class="large-12 columns">

    <div class="large-12 columns">
        <h2>{{rentalObject.name}}</h2>
        <img style="width:100px; height:100px" ng-repeat="file in rentalObject.fileCollection"
             ng-src="Public/RentalObjectPhotos/{{file.id}}.{{file.fileExtension}}">

        <span rentalobjectformtemplate></span>

        <span>
            <h2>Hyr</h2>

            <form ng-submit="createRentPeriod()">

                <div class="row">
                    <div class="large-2 columns">
                        <input type="text" ng-model="rentPeriod.fromDate" rentperioddatepicker placeholder="Från och med"/>
                    </div>
                    <div class="large-2 columns left">
                        <input type="text" ng-model="rentPeriod.toDate" rentperioddatepicker placeholder="Till och med"/>
                    </div>
                </div>

                <p>Pris {{rentPeriod.totalPrice || 0}} kr</p>

                <button type="submit" class="success tiny">
                    Hyr
                </button>
                <button type="button" class="tiny" ng-click="navigateToRentalObjectList()">Avbryt</button>
            </form>
        </span>
    </div>
</div>
