<div class="row">
    <h2>Skapa ny användare</h2>

    <form name="user_form" ng-submit="createUser()">
        <div class="large-6 columns">
            <label for="username">Namn</label>
            <input ng-model="user.username" name="username" type="text"/>

            <label for="email">E-post</label>
            <input ng-model="user.email" name="email" type="email"/>

            <label for="password">Lösenord</label>
            <input ng-model="user.password" name="password" type="password"/>
            <button type="submit">Spara användare</button>
            <button type="button" ng-click="returnToUserList()">Avbryt</button>
        </div>
        <div class="large-6 columns">
            <label for="hasAdministrativeAccess">Administratör</label>
            <input type="checkbox" ng-model="user.hasAdministrativeAccess" name="hasAdministrativeAccess"/>
        </div>
    </form>
</div>