<div class="row">
    <div class="12-columns large">
        <h2>Användare
            <button type="button" ng-click="navigateToCreateNewUser()">Skapa ny användare</button>
        </h2>
        <ul ng-repeat="user in userCollection">
            <li>
                <p>{{user.username}}
                    <button type="button" class="tiny" ng-click="updateUser(user)">Redigera användare</button>
                    <button type="button" class="tiny alert" ng-click="deleteUser(user)">Ta bort användare</button>
                </p>
            </li>
        </ul>
    </div>
</div>