<div class="row">
    <div class="12-columns large">
        <h2>Användargrupper</h2>
        <ul ng-repeat="userGroup in userGroupCollection">
            <li>
                <p>
                    {{ userGroup.name }}
                    <button type="button" class="tiny" ng-click="updateUserGroup(userGroup)">Redigera grupp</button>
                    <button type="button" class="tiny alert" ng-click="deleteUserGroup(userGroup)">Ta bort grupp</button>
                </p>
            </li>
        </ul>

        <button type="button" ng-click="navigateToCreateUserGroup()">Skapa ny användargrupp</button>
    </div>
</div>
