<div class="row">
    <h2>Skapa ny användare</h2>

    <form name="user_form" ng-submit="createUser()" ng-model-options="{updateOn: 'blur'}">
        <div class="large-6 columns">


            <label ng-class="{'error' : user_form.organization_number.$invalid && user_form.organization_number.$dirty}"
                   for="organization_number">Organisationsnummer
                <small>Obligatorisk</small>
                <input organizationnumbervalidation required ng-model="user.organizationNumber"
                       name="organization_number" type="text"/>
            </label>
            <span ng-messages="user_form.organization_number.$error" ng-if="user_form.organization_number.$dirty">
                <small class="error" ng-message="required">Ange ett organisationsnummer.</small>
                <small class="error" ng-message="pattern">Ange ett giltigt organisationsnummer.</small>
            </span>

            <label ng-class="{'error' : user_form.username.$invalid && user_form.username.$dirty}" for="username">Namn
                <small>Obligatorisk</small>
                <input alphanumericvalidation required ng-model="user.username" name="username" type="text"/>
            </label>
            <span ng-messages="user_form.username.$error" ng-if="user_form.username.$dirty">
                <small class="error" ng-message="required">Ange ett namn.</small>
                <small class="error" ng-message="pattern">Otillåtna tecken. Tillåtna tecken: a-zåäöA-ZÅÄÖ0-9</small>
            </span>

            <label ng-class="{'error' : user_form.email.$invalid && user_form.email.$dirty}" for="email">E-post
                <small>Obligatorisk</small>
                <input ng-model="user.email" required name="email" type="email"/>
            </label>
            <span ng-messages="user_form.email.$error" ng-if="user_form.email.$dirty">
                <small class="error" ng-message="required">Ange en e-postadress.</small>
            </span>

            <label ng-class="{'error' : user_form.address.$invalid && user_form.address.$dirty}" for="address">Adress
                <input addressvalidation ng-model="user.address" name="address" type="text"/>
            </label>
            <span ng-messages="user_form.address.$error" ng-if="user_form.address.$dirty">
                <small class="error" ng-message="pattern">Otillåtna tecken. Försök igen.</small>
            </span>

            <label ng-class="{'error' : user_form.additional_address_information.$invalid && user_form.additional_address_information.$dirty}"
                   for="additional_address_information">Adress 2
                <input addressvalidation ng-model="user.additionalAddressInformation"
                       name="additional_address_information"
                       type="text"/>
            </label>
            <span ng-messages="user_form.additional_address_information.$error"
                  ng-if="user_form.additional_address_information.$dirty">
                <small class="error" ng-message="pattern">Otillåtna tecken. Försök igen.</small>
            </span>

            <label ng-class="{'error' : user_form.zip_code.$invalid && user_form.zip_code.$dirty}" for="zipcode">Postnummer
                <input zipcodevalidation ng-model="user.zipCode" name="zip_code" type="text"/>
            </label>
            <span ng-messages="user_form.zip_code.$error" ng-if="user_form.zip_code.$dirty">
                <small class="error" ng-message="pattern">Otillåtna tecken. Tillåtna tecken: 0-9.</small>
            </span>

            <label ng-class="{'error' : user_form.city.$invalid && user_form.city.$dirty}" for="city">Stad
                <input cityvalidation ng-model="user.city" name="city" type="text"/>
            </label>
            <span ng-messages="user_form.city.$error" ng-if="user_form.city.$dirty">
                <small class="error" ng-message="pattern">Otillåtna tecken. Försök igen.</small>
            </span>

            <label ng-class="{'error' : user_form.phone_number.$invalid && user_form.phone_number.$dirty}" for="phone_number">Telefonnummer
            <input phonenumbervalidation ng-model="user.phoneNumber" name="phone_number"/>
            </label>
            <span ng-messages="user_form.phone_number.$error" ng-if="user_form.phone_number.$dirty">
                <small class="error" ng-message="pattern">Otillåtna tecken. Försök igen. Tillåtna tecken: 0-9, mellanslag och bindestreck.</small>
            </span>

            <label ng-class="{'error' : user_form.password.$invalid && user_form.password.$dirty}" for="password">Lösenord
                <small>Obligatorisk</small>
            <input passwordvalidation required ng-model="user.password" name="password" type="password"/>
            </label>
            <span ng-messages="user_form.password.$error" ng-if="user_form.password.$dirty">
                <small class="error" ng-message="required">Ange ett lösenord.</small>
                <small class="error" ng-message="pattern">Otillåtna tecken. Försök igen.</small>
            </span>

            <label for="pick_up_time_from">Upphämtningstid
                <input timetodatetimeformatter disabletimevalidation ng-model="user.pickUpTime" name="pick_up_time_from" type="time"/>
            </label>

            <label for="drop_off_time_to">Återlämningstid
                <input ng-model="user.dropOffTime" timetodatetimeformatter disabletimevalidation name="drop_off_time_to" type="time"/>
            </label>

            <button type="submit" ng-disabled="user_form.$invalid">Spara användare</button>
            <button type="button" ng-click="returnToUserList()">Avbryt</button>
        </div>
        <div class="large-6 columns">
            <label for="hasAdministrativeAccess">Administratör</label>
            <input type="checkbox" ng-model="user.hasAdministrativeAccess" name="hasAdministrativeAccess"/>
        </div>
    </form>
</div>